{% extends 'main/globo.html' %}
{%load static%}
from django import forms
from .models import Image
from django.shortcuts import render
from .forms import ImageForm
{% block title %}Безлактозные продукты{% endblock %}

{% block content %}
     <h1>Блюда без содержания лактозы </h1>
     <p> Данный раздел подходит для людей, у которых проявлялись симптомы растройства желудочно-кишечного тракта,
         после употребления в пищу продуктов, содержащих лактозу </p>

    {% for el in bluda %}
        <div class="alert-warning">
            <h3>{{ el.title}}</h3>
            <b> Категория:</b><p> {{ el.kategor }}</p>
            <img src="{{ el.foto.url }}">
            <b>Состав блюда:</b> <p> {{ el.full_text }}</p>
            <b>Вес блюда:</b><p> {{ el.masa }} гр.</p>
            <b>Стоимость:</b><p> {{ el.cena }} руб.</p>
            <b>Ресторан:</b><p> <p><a href="{% url 'about' el.name_restoran.id %}" style=" color: #327807;" > {{ el.name_restoran }} </a>

        </div>
    {% endfor%}


{% endblock %}
